.StudentsManager ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;

}

.StudentsManager li {
    display: inline-block;
    margin: 20px;
}